body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.auth-form {
  margin-left: auto;
  margin-right: auto;

  @media(min-width: 768px) {
    width: 50%;
  }
}

.selectable {
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
}